/* Bordered form */
.form {
  border: 3px solid #f1f1f1;
   width: 19rem;
   text-align: center;
   vertical-align: middle;
   margin: 0 auto;
   top: 50%;
   transform: translate(-50%, -50%);
   left: 50%;
   position: absolute;
   top: 50%;
   @media screen and (min-width: 420px) {
  width: 35rem;
   }
  }
  
  .error {
   color: red
  }
  
  
  /* Full-width inputs */
  input[type=text],
  input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
   background-color: #04AA6D;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
   opacity: 0.8;
  }